<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Dettaglio abbonato</title>

<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">

</head>
<body th:object="${abb}">
<div class="bg-dark">
		<header>
			<a class="navbar-brand" href="/">Keepfit</a>
		</header>
	</div>
	
	<h2>Scheda personale</h2>
	<hr>

	<div class="container">
	
		Id<input type="text" th:field="*{id}" class="form-control mb-4 col-4" readonly/>
	
		Nome<input type="text" th:field="*{nome}" class="form-control mb-4 col-4" readonly>
	
		Cagnome<input type="text" th:field="*{cognome}" readonly
			class="form-control mb-4 col-4">
	
		Data di nascita<input type="date" th:field="*{dataNascita}" readonly
			class="form-control mb-4 col-4">
	
		Codice fiscale<input type="text" th:field="*{codiceFiscale}" readonly
			class="form-control mb-4 col-4">
	
		Residenza<input type="text" th:field="*{residenza}" readonly
			class="form-control mb-4 col-4">
	
		Domicilio<input type="text" th:field="*{domicilio}" readonly
			class="form-control mb-4 col-4">
	
		Telefono fisso<input type="text" th:field="*{telefonoFisso}" readonly
			class="form-control mb-4 col-4">
	
		Telefono mobile<input type="text" th:field="*{telefonoMobile}" readonly
			class="form-control mb-4 col-4">
	
		Data di iscrizione<input type="date" th:field="*{dataIscrizione}" readonly
			class="form-control mb-4 col-4">
			
		Inizio abbonamento<input type="date" th:field="*{abbonamento.inizioAbbonamento}" readonly
			class="form-control mb-4 col-4">
			
		Fine abbonamento<input type="date" th:field="*{abbonamento.fineAbbonamento}" readonly
			class="form-control mb-4 col-4">
	</div>
</body>
</html>