<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Gestione Abbonati</title>

<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
	integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
	crossorigin="anonymous">

<link href="signin.css" rel="stylesheet">

</head>
<body style="background: url('http://localhost:8080/front.jpg') no-repeat center center fixed;">
	<div style="background-color: white;
		box-shadow:  10px  10px 5px #ffffff,
			  		-10px -10px 5px #ffffff,
               		10px -10px 5px #ffffff,
              		-10px  10px 5px #ffffff;">
		<h1 class="h3 mb-3 font-weight-normal text-center">Login admin</h1>
		<label for="username" class="sr-only">Username</label> <input
			type="text" id="inputEmail" class="form-control"
			placeholder="Username" required autofocus> <label
			for="inputPassword" class="sr-only">Password</label> <input
			type="password" id="inputPassword" class="form-control"
			placeholder="Password" required>
		<a class="btn btn-lg btn-primary btn-block" type="button" th:href="@{/landing}">Accedi</a>
		<p class="mt-5 mb-3 text-muted">&copy; 2020</p>
	</div>
</body>
</html>