<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Modifica abbonato</title>

<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
</head>
<body>
<div class="bg-dark">
		<header>
			<a class="navbar-brand" href="/">Keepfit</a>
		</header>
	</div>
	<div class="container">
		<h1>Gestione abbonati</h1>
		<hr>
		<h2>Aggiorna abbonato</h2>

		<form action="#" th:action="@{/admin/salvaAbbonato}" th:object="${abbonatoTrovato}"
			method="POST">
			
			Id<input th:field="*{id}" class="form-control mb-4 col-4" readonly/>
			
			Nome<input type="text" th:field="*{nome}" class="form-control mb-4 col-4">
				
				Cognome<input type="text" th:field="*{cognome}" class="form-control mb-4 col-4">
				
				Data di nascita<input type="date" th:field="*{dataNascita}" class="form-control mb-4 col-4">
				
				Codice fiscale<input type="text" th:field="*{codiceFiscale}" class="form-control mb-4 col-4">
				
				Residenza<input type="text" th:field="*{residenza}" class="form-control mb-4 col-4">
				
				Domicilio<input type="text" th:field="*{domicilio}" class="form-control mb-4 col-4">
				
				Telefono fisso<input type="text" th:field="*{telefonoFisso}" class="form-control mb-4 col-4">
				
				Telefono mobile<input type="text" th:field="*{telefonoMobile}" class="form-control mb-4 col-4">
				
				Data di iscrizione<input type="date" th:field="*{dataIscrizione}" class="form-control mb-4 col-4">
				
				Inizio abbonamento<input type="date" th:field="*{abbonamento.inizioAbbonamento}"
			class="form-control mb-4 col-4">
			
		Fine abbonamento<input type="date" th:field="*{abbonamento.fineAbbonamento}"
			class="form-control mb-4 col-4">
				
				<button type="submit" class="btn btn-info col-2">Aggiorna</button>
		</form>
		<hr>
		<a th:href = "@{/admin/abbonati?nome=&cognome=&stato=}">Torna all'elenco</a>
	</div>
</body>
</html>