<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Nuovo abbonato</title>

<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">

</head>
<body>
<div class="bg-dark">
		<header>
			<a class="navbar-brand" href="/">Keepfit</a>
		</header>
	</div>
	<div class="container">
	<h1>Gestione abbonati</h1>
		<hr>
		<h2>Nuovo abbonato</h2>

		<form action="#" th:action="@{/admin/salvaAbbonato}" th:object="${nuovoAbbonato}"
			method="POST">
			
				Nome<input type="text" th:field="*{nome}"
				placeholder="Nome" class="form-control mb-4 col-4">
				
				Cognomr<input type="text" th:field="*{cognome}"
				placeholder="Cognome" class="form-control mb-4 col-4">
				
				Data di nascita<input type="date" th:field="*{dataNascita}"
				placeholder="Data di nascita" class="form-control mb-4 col-4">
				
				Codice Fiscale<input type="text" th:field="*{codiceFiscale}"
				placeholder="Codice fiscale" class="form-control mb-4 col-4">
				
				Residenza<input type="text" th:field="*{residenza}"
				placeholder="Residenza" class="form-control mb-4 col-4">
				
				Domicilio<input type="text" th:field="*{domicilio}"
				placeholder="Domicilio" class="form-control mb-4 col-4">
				
				Telefono fisso<input type="text" th:field="*{telefonoFisso}"
				placeholder="Telefono fisso" class="form-control mb-4 col-4">
				
				Telefono mobile<input type="text" th:field="*{telefonoMobile}"
				placeholder="Telefono mobile" class="form-control mb-4 col-4">
				
				Data di iscrizione<input type="date" th:field="*{dataIscrizione}"
				placeholder="Data di iscrizione" class="form-control mb-4 col-4">
				
				Inizio abbonamento<input type="date" th:field="*{abbonamento.inizioAbbonamento}"
				placeholder="Inizio abbonamento" class="form-control mb-4 col-4">
				
				Fine abbonamento<input type="date" th:field="*{abbonamento.fineAbbonamento}"
				placeholder="Fine abbonamento" class="form-control mb-4 col-4">
				
				<button type="submit" class="btn btn-info col-2">Salva</button>
		</form>
		
		<hr>

	
	<a th:href="@{/admin/abbonati?nome=&cognome=&stato=}"
			class="btn btn-danger btn-sm mb-3"> Annulla </a>
	</div>
	
</body>
</html>